body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url(todo.jpg);
    background-repeat: no-repeat;
    background-size: 1500px;
    background-attachment:fixed;
    background-position:center;
    text-align: center;
    
}

.app {
    max-width: 400px;
    margin: 0 auto;
}

h1 {
    color: #333;
}

.input-container {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.task-list {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.completed {
    text-decoration: line-through;
    color: #777;
}
